@model WebBanHangOnline.Models.EF.Intro


<div class="intro-details">
    <h2>@Model.Title</h2>
    <h3>@Model.Description</h3>
    <p>@Html.Raw(Model.Detail)</p>
    <!-- Các phần tử khác để hiển thị nội dung chi tiết bài giới thiệu -->
</div>


